<nav id="navbar" class="w-screen h-10 fixed bg-zinc-800 flex items-center justify-between z-50">
    <div class="flex justify-start items-center p-1" routerLink="/home">
        <img class="p-1" alt="Army Reactor Logo" ngSrc="/images/logo.svg" width="40" height="40" priority />
        <span class="ps-2 content-end text-white text-xl tracking-widest font-light"><span class="gradient text-2xl">A</span>RMY <span class="gradient text-2xl">R</span>EACTOR</span>
    </div>

    <div class="flex justify-end items-center">
        <button (click)="openMenu = !openMenu" class="mt-1 mr-1 outline-none">
            @if (openMenu) {
                <ng-icon name="heroXMarkSolid" color="white" size="32" />
            }
            @if (!openMenu) {
                <ng-icon name="heroBars3Solid" color="white" size="32" />
            }
        </button>

        @if (openMenu) {
            <div class="absolute top-10 w-full h-calc z-100 bg-zinc-800 text-white font-light" role="menu" aria-orientation="vertical" aria-labelledby="items-menu" tabindex="-1">
                <div class="m-2">
                    <button class="w-full rounded py-2 px-3 bg-zinc-700 text-white tracking-widest font-normal" routerLink="/home" (click)="openMenu = false">HOME</button>
                </div>
                <div class="m-2">
                    <button class="w-full rounded py-2 px-3 bg-zinc-700 text-white tracking-widest font-normal" routerLink="/datafiles" (click)="openMenu = false">DATAFILES</button>
                </div>
                <div class="m-2">
                    <button class="w-full rounded py-2 px-3 bg-zinc-700 text-white tracking-widest font-normal" routerLink="/faq" (click)="openMenu = false">FAQ</button>
                </div>
            </div>
        }
    </div>
</nav>
