<div id="roster-view">
    <div class="absolute top-10 w-full h-calc overflow-auto">
        <div class="mb-12">
            <div class="m-2 py-2 px-3 rounded bg-zinc-800 text-white tracking-widest font-normal">
                <p class="mb-2">{{findBook().config.keyword}}</p>
                <p class="text-gray-300">{{findDetachmentName(activeRoster.detachmentId)}}</p>
            </div>

            @if ((activeRoster.units | unitFilter:'CHARACTER').length) {
                <div class="relative">
                    <ng-icon class="absolute left-4 top-0.5" name="faSolidCrown" color="black" size="24" />
                    <p class="m-2 ps-10 font-normal text-xl">Characters</p>
                </div>

                @for (unit of activeRoster.units | unitFilter:'CHARACTER' | alphabetical:'name'; track unit.uuid) {
                    <div class="m-2" (click)="openUnit(unit)">
                        <div class="w-full bg-zinc-600 rounded relative">
                            <p class="py-2 px-3 w-3/4 text-white tracking-wider font-normal whitespace-nowrap overflow-clip text-ellipsis">
                                <span class="text-lime-400">{{calculationService.calculateUnitPoints(unit)}}</span>
                                {{unit.name}}
                            </p>
                            <div class="absolute top-0 right-9 w-10 h-10 pt-1 text-center" (click)="duplicateUnit(unit); $event.stopPropagation()">
                                <ng-icon name="heroSquare2Stack" color="lightgrey" size="32" />
                            </div>
                            <div class="absolute top-0 right-0 w-10 h-10 pt-1 text-center" (click)="removeUnit(unit); $event.stopPropagation()">
                                <ng-icon name="faSolidXmark" color="#EB3B3B" size="32" />
                            </div>
                            @if (unit?.models.length > 1) {
                                <div class="px-2 pb-2 ps-4 -mt-2">
                                    <p class="text-sky-300 text-sm font-normal whitespace-nowrap overflow-clip text-ellipsis">{{unit.models.length}} models</p>
                                </div>
                            }
                            @if (unit?.models || unit?.equipment) {
                                <div class="px-2 pb-2 -mt-2">
                                    <p class="ps-2 text-zinc-300 text-sm font-normal whitespace-nowrap overflow-clip text-ellipsis" [innerText]="exportService.writeUnit(unit)"></p>
                                </div>
                            }
                        </div>
                    </div>
                }
            }

            @if ((activeRoster.units | unitFilter:'BATTLELINE').length) {
                <div class="relative">
                    <ng-icon class="absolute left-4 top-0.5" name="mynaFatArrowUpSolid" color="black" size="24" />
                    <p class="m-2 ps-10 font-normal text-xl">Battleline</p>
                </div>

                @for (unit of activeRoster.units | unitFilter:'BATTLELINE' | alphabetical:'name'; track unit.uuid) {
                    <div class="m-2" (click)="openUnit(unit)">
                        <div class="w-full bg-zinc-600 rounded relative">
                            <p class="py-2 px-3 w-3/4 text-white tracking-wider font-normal whitespace-nowrap overflow-clip text-ellipsis">
                                <span class="text-lime-400">{{calculationService.calculateUnitPoints(unit)}}</span>
                                {{unit.name}}
                            </p>
                            <div class="absolute top-0 right-10 w-10 h-10 pt-1 text-center" (click)="duplicateUnit(unit); $event.stopPropagation()">
                                <ng-icon name="heroSquare2Stack" color="lightgrey" size="32" />
                            </div>
                            <div class="absolute top-0 right-0 w-10 h-10 pt-1 text-center" (click)="removeUnit(unit); $event.stopPropagation()">
                                <ng-icon name="faSolidXmark" color="#EB3B3B" size="32" />
                            </div>
                            @if (unit?.models.length > 1) {
                                <div class="px-2 pb-2 ps-4 -mt-2">
                                    <p class="text-sky-300 text-sm font-normal whitespace-nowrap overflow-clip text-ellipsis">{{unit.models.length}} models</p>
                                </div>
                            }
                            @if (unit?.models || unit?.equipment) {
                                <div class="px-2 pb-2 -mt-2">
                                    <p class="ps-2 text-zinc-300 text-sm font-normal whitespace-nowrap overflow-clip text-ellipsis" [innerText]="exportService.writeUnit(unit)"></p>
                                </div>
                            }
                        </div>
                    </div>
                }
            }


            @if ((activeRoster.units | unitFilter:'DEDICATED TRANSPORT').length) {
                <div class="relative">
                    <ng-icon class="absolute left-4 top-0.5" name="faSolidVanShuttle" color="black" size="24" />
                    <p class="m-2 ps-10 font-normal text-xl">Dedicated Transports</p>
                </div>

                @for (unit of activeRoster.units | unitFilter:'DEDICATED TRANSPORT' | alphabetical:'name'; track unit.uuid) {
                    <div class="m-2" (click)="openUnit(unit)">
                        <div class="w-full bg-zinc-600 rounded relative">
                            <p class="py-2 px-3 w-3/4 text-white tracking-wider font-normal whitespace-nowrap overflow-clip text-ellipsis">
                                <span class="text-lime-400">{{calculationService.calculateUnitPoints(unit)}}</span>
                                {{unit.name}}
                            </p>
                            <div class="absolute top-0 right-10 w-10 h-10 pt-1 text-center" (click)="duplicateUnit(unit); $event.stopPropagation()">
                                <ng-icon name="heroSquare2Stack" color="lightgrey" size="32" />
                            </div>
                            <div class="absolute top-0 right-0 w-10 h-10 pt-1 text-center" (click)="removeUnit(unit); $event.stopPropagation()">
                                <ng-icon name="faSolidXmark" color="#EB3B3B" size="32" />
                            </div>
                            @if (unit?.models.length > 1) {
                                <div class="px-2 pb-2 ps-4 -mt-2">
                                    <p class="text-sky-300 text-sm font-normal whitespace-nowrap overflow-clip text-ellipsis">{{unit.models.length}} models</p>
                                </div>
                            }
                            @if (unit?.models || unit?.equipment) {
                                <div class="px-2 pb-2 -mt-2">
                                    <p class="ps-2 text-zinc-300 text-sm font-normal whitespace-nowrap overflow-clip text-ellipsis" [innerText]="exportService.writeUnit(unit)"></p>
                                </div>
                            }
                        </div>
                    </div>
                }
            }

            @if ((activeRoster.units | unitFilter:'OTHER').length) {
                <div class="relative">
                    <ng-icon class="absolute left-4 top-0.5" name="faSolidBoltLightning" color="black" size="24" />
                    <p class="m-2 ps-10 font-normal text-xl">Other</p>
                </div>

                @for (unit of activeRoster.units | unitFilter:'OTHER' | alphabetical:'name'; track unit.uuid) {
                    <div class="m-2" (click)="openUnit(unit)">
                        <div class="w-full bg-zinc-600 rounded relative">
                            <p class="py-2 px-3 w-3/4 text-white tracking-wider font-normal whitespace-nowrap overflow-clip text-ellipsis">
                                <span class="text-lime-400">{{calculationService.calculateUnitPoints(unit)}}</span>
                                {{unit.name}}
                            </p>
                            <div class="absolute top-0 right-10 w-10 h-10 pt-1 text-center" (click)="duplicateUnit(unit); $event.stopPropagation()">
                                <ng-icon name="heroSquare2Stack" color="lightgrey" size="32" />
                            </div>
                            <div class="absolute top-0 right-0 w-10 h-10 pt-1 text-center" (click)="removeUnit(unit); $event.stopPropagation()">
                                <ng-icon name="faSolidXmark" color="#EB3B3B" size="32" />
                            </div>
                            @if (unit?.models.length > 1) {
                                <div class="px-2 pb-2 ps-4 -mt-2">
                                    <p class="text-sky-300 text-sm font-normal whitespace-nowrap overflow-clip text-ellipsis">{{unit.models.length}} models</p>
                                </div>
                            }
                            @if (unit?.models || unit?.equipment) {
                                <div class="px-2 pb-2 -mt-2">
                                    <p class="ps-2 text-zinc-300 text-sm font-normal whitespace-nowrap overflow-clip text-ellipsis" [innerText]="exportService.writeUnit(unit)"></p>
                                </div>
                            }
                        </div>
                    </div>
                }
            }

            @if ((activeRoster.units | unitFilter:'ALLIES').length) {
                <div class="relative">
                    <ng-icon class="absolute left-4 top-0.5" name="faSolidUserGroup" color="black" size="24" />
                    <p class="m-2 ps-10 font-normal text-xl">Allies</p>
                </div>

                @for (unit of activeRoster.units | unitFilter:'ALLIES' | alphabetical:'name'; track unit.uuid) {
                    <div class="m-2" (click)="openUnit(unit)">
                        <div class="w-full bg-zinc-600 rounded relative">
                            <p class="py-2 px-3 w-3/4 text-white tracking-wider font-normal whitespace-nowrap overflow-clip text-ellipsis">
                                <span class="text-lime-400">{{calculationService.calculateUnitPoints(unit)}}</span>
                                {{unit.name}}
                            </p>
                            <div class="absolute top-0 right-10 w-10 h-10 pt-1 text-center" (click)="duplicateUnit(unit); $event.stopPropagation()">
                                <ng-icon name="heroSquare2Stack" color="lightgrey" size="32" />
                            </div>
                            <div class="absolute top-0 right-0 w-10 h-10 pt-1 text-center" (click)="removeUnit(unit); $event.stopPropagation()">
                                <ng-icon name="faSolidXmark" color="#EB3B3B" size="32" />
                            </div>
                            @if (unit?.models.length > 1) {
                                <div class="px-2 pb-2 ps-4 -mt-2">
                                    <p class="text-sky-300 text-sm font-normal whitespace-nowrap overflow-clip text-ellipsis">{{unit.models.length}} models</p>
                                </div>
                            }
                            @if (unit?.models || unit?.equipment) {
                                <div class="px-2 pb-2 -mt-2">
                                    <p class="ps-2 text-zinc-300 text-sm font-normal whitespace-nowrap overflow-clip text-ellipsis" [innerText]="exportService.writeUnit(unit)"></p>
                                </div>
                            }
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div class="absolute bottom-0 grid grid-cols-3 w-full bg-zinc-800">
        <div class="m-1">
            <button class="rounded py-1 bg-lime-600 text-white tracking-widest font-medium w-full" routerLink="/addunit">ADD UNIT</button>
        </div>
        <div>
            <p class="h-10 text-center text-2xl text-lime-400 font-normal content-center" [class.text-red-400]="calculationService.calculateRosterPoints(activeRoster) > 2000">{{calculationService.calculateRosterPoints(activeRoster)}}</p>
        </div>

        <div class="m-1">
            <button class="rounded py-1 bg-lime-600 text-white tracking-widest font-medium w-full" (click)="exportModal.value = 'open'; $event.stopPropagation()">EXPORT</button>
            <input #exportModal hidden type="checkbox" />
            @if (exportModal.value === 'open') {
                <div class="fixed top-0 right-0 bottom-0 left-0 bg-zinc-800 z-20 opacity-50" (click)="exportModal.value = ''; $event.stopPropagation()"></div>
                <div class="absolute bottom-1 right-1 z-30">
                    <button class="relative rounded py-1 px-1  bg-lime-600 text-white tracking-widest font-medium w-full" (click)="exportService.shareViaWhatsApp(''); exportModal.value = ''; $event.stopPropagation()">
                        SHARE
                        <ng-icon class="absolute top-1.5 right-1" name="heroShareMini" color="white" size="20" />
                    </button>
                    <button class="relative rounded py-1 px-1 mt-2 bg-lime-600 text-white tracking-widest font-medium w-full" (click)="exportService.copyToClipboard(); exportModal.value = ''; $event.stopPropagation()">
                        COPY
                        <ng-icon class="absolute top-1.5 right-1" name="faSolidCopy" color="white" size="20" />
                    </button>
                </div>
            }
        </div>

    </div>
</div>
