<div id="roster-view">
    <div class="absolute top-10 w-full h-calc">
        <div class="m-2 py-2 px-3 rounded bg-zinc-800 text-white tracking-widest font-normal">
            <p class="mb-2">{{findBook().config.keyword}}</p>
            <p class="text-gray-300">{{findDetachmentName(activeRoster.detachmentId)}}</p>
        </div>

        @if ((activeRoster.units | unitFilter:'CHARACTER').length) {
            <p class="m-2 ps-3 font-normal text-xl">Characters</p>

            @for (unit of activeRoster.units | unitFilter:'CHARACTER' | alphabetical:'name'; track unit) {
                <div class="m-2">
                    <div class="w-full bg-zinc-600 rounded relative">
                        <p class="py-2 px-3 w-3/4 text-white tracking-widest font-normal">{{unit.name}}</p>
                        <div class="absolute top-0 right-10">
                            <p class="h-10 text-lime-400 text-lg font-normal content-center">{{calculationService.calculateUnitPoints(unit)}}</p>
                        </div>
                        <div class="absolute top-0 right-0 w-10 h-10 pt-1 text-center" (click)="removeUnit(unit); $event.stopPropagation()">
                            <ng-icon name="heroXMarkSolid" color="red" size="32" />
                        </div>
                    </div>
                </div>
            }
        }

        @if ((activeRoster.units | unitFilter:'BATTLELINE').length) {
            <p class="m-2 ps-3 font-normal text-xl">Battleline</p>

            @for (unit of activeRoster.units | unitFilter:'BATTLELINE' | alphabetical:'name'; track unit) {
                <div class="m-2">
                    <div class="w-full bg-zinc-600 rounded relative">
                        <p class="py-2 px-3 w-3/4 text-white tracking-widest font-normal">{{unit.name}}</p>
                        <div class="absolute top-0 right-10">
                            <p class="h-10 text-lime-400 text-lg font-normal content-center">{{calculationService.calculateUnitPoints(unit)}}</p>
                        </div>
                        <div class="absolute top-0 right-0 w-10 h-10 pt-1 text-center">
                            <ng-icon name="heroXMarkSolid" color="red" size="32" />
                        </div>
                    </div>
                </div>
            }
        }


        @if ((activeRoster.units | unitFilter:'DEDICATED TRANSPORT').length) {
            <p class="m-2 ps-3 font-normal text-xl">Dedicated Transports</p>

            @for (unit of activeRoster.units | unitFilter:'DEDICATED TRANSPORT' | alphabetical:'name'; track unit) {
                <div class="m-2">
                    <div class="w-full bg-zinc-600 rounded relative">
                        <p class="py-2 px-3 w-3/4 text-white tracking-widest font-normal">{{unit.name}}</p>
                        <div class="absolute top-0 right-10">
                            <p class="h-10 text-lime-400 text-lg font-normal content-center">{{calculationService.calculateUnitPoints(unit)}}</p>
                        </div>
                        <div class="absolute top-0 right-0 w-10 h-10 pt-1 text-center">
                            <ng-icon name="heroXMarkSolid" color="red" size="32" />
                        </div>
                    </div>
                </div>
            }
        }

        @if ((activeRoster.units | unitFilter:'OTHER').length) {
            <p class="m-2 ps-3 font-normal text-xl">Other</p>

            @for (unit of activeRoster.units | unitFilter:'OTHER' | alphabetical:'name'; track unit) {
                <div class="m-2">
                    <div class="w-full bg-zinc-600 rounded relative">
                        <p class="py-2 px-3 w-3/4 text-white tracking-widest font-normal">{{unit.name}}</p>
                        <div class="absolute top-0 right-10">
                            <p class="h-10 text-lime-400 text-lg font-normal content-center">{{calculationService.calculateUnitPoints(unit)}}</p>
                        </div>
                        <div class="absolute top-0 right-0 w-10 h-10 pt-1 text-center">
                            <ng-icon name="heroXMarkSolid" color="red" size="32" />
                        </div>
                    </div>
                </div>
            }
        }

    </div>
    <div class="absolute bottom-0 grid grid-cols-3 w-full">
        <div>
            <button class="rounded-tr-lg py-2 px-3 bg-lime-600 text-white tracking-widest font-normal w-full" routerLink="/addunit">ADD UNIT</button>
        </div>
        <div>
            <p class="h-10 text-center text-2xl text-zinc-800 font-normal content-center">2000</p>
        </div>
        <div>
            <button class="rounded-tl-lg py-2 px-3 bg-lime-600 text-white tracking-widest font-normal w-full">EXPORT</button>
        </div>
    </div>
</div>
