<div id="home">
    <div class="pt-12">
        <div class="text-center p-3 mb-3">
            <h1 class="text-xl">Welcome to Army Reactor!</h1>
        </div>

        <div class="text-center p-3 mb-3">
            <h3 class="text-lg">Army Reactor is a Tabletop Wargaming list builder.</h3>
            <h3 class="text-lg">It is to be used in conjunction with existing rulebooks for those games.</h3>
        </div>

        <div class="text-center p-3 mb-3">
            <h3 class="text-lg">Army Reactor contains no data for any tabletop game, and requires the user to add said data in order to work.</h3>
        </div>

        <div class="text-center p-3">
            <button class="rounded px-3 py-1 m-3 bg-lime-600 text-white tracking-widest font-normal" routerLink="/datafiles">DATAFILES</button>
        </div>
    </div>
</div>
