<div id="faq">
    <div class="absolute top-10 w-full h-calc overflow-auto">
        <div class="m-2 py-2 px-3 rounded bg-zinc-800 text-white tracking-wider font-normal">
            <p class="text-lime-400">1. Help, I’ve encountered a bug!</p>
            <p class="text-gray-200">Try refreshing the app (you won't lose your data/lists), it will solve all manner of sins. If its still not working, remove the datafiles and try re-adding them (again, you won't lose your data/lists).</p>
        </div>
        <div class="m-2 py-2 px-3 rounded bg-zinc-800 text-white tracking-wider font-normal">
            <p class="text-lime-400">2. No not that kind of bug, the data is wrong.</p>
            <p class="text-gray-200">Nice spot, you should report this to the group responsible for the particular datafile.</p>
        </div>
        <div class="m-2 py-2 px-3 rounded bg-zinc-800 text-white tracking-wider font-normal">
            <p class="text-lime-400">3. But it's in your app, why aren't I reporting this to you?</p>
            <p class="text-gray-200">The application contains no data, it's effectively a very talented piece of paper.</p>
        </div>
        <div class="m-2 py-2 px-3 rounded bg-zinc-800 text-white tracking-wider font-normal">
            <p class="text-lime-400">4. How can I view the rules for my unit?</p>
            <p class="text-gray-200">Currently exploring how best to add this, and where to get the data from.</p>
        </div>
        <div class="m-2 py-2 px-3 rounded bg-zinc-800 text-white tracking-wider font-normal">
            <p class="text-lime-400">5. Nice application, how does it pay for hosting?</p>
            <p class="text-gray-200">Simple answer, it doesn't. I pay for hosting myself, out of the love I have for the community. I'm open to ideas to help address this, but not at the cost of ruining the experience.</p>
        </div>
        <div class="m-2 py-2 px-3 rounded bg-zinc-800 text-white tracking-wider font-normal">
            <p class="text-lime-400">6. Can you make it work for another tabletop game?</p>
            <p class="text-gray-200">It already works for other tabletop games (probably), but you'll need to find a group of people willing to create the datafiles for it to read.</p>
        </div>
    </div>
</div>
